

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background-color: #4C4C4C;
    padding-top: 15px;
}

h1 {
    text-align: center;
    /*border-bottom: 1px dotted #7F7F7F;*/
    color: #b3b3b3;
    font-family: sans-serif;
    font-size: 220%;
    margin-bottom: 0;
    text-shadow: 2px 2px 3px #000;
}

h2 {
    text-align: center;
    color: #7f7f7f;
    font-size: 140%;
    font-style: italic;
    margin-top: 0;
}

img { border: 0 }

.thumbnails {
    margin-top: 5em;
    margin-left: -30px;
}
.thumbnails > li {
    width: 170px;
    height: 170px;
    text-align: center;
}

.thumbnail {
    background-color: #949494;
    padding: 6px;
    display: inline-block;
}
a.thumbnail:hover {
    background-color: #A1A1A1;
    border-color: #FFFFFF;
}

a.thumbnail .photo-index {
    display: none;
    position: absolute;
    padding: 2px;
    border-right: 1px solid #949494;
    border-bottom: 1px solid #949494;
    color: #000;
    background-color: #fff;
    opacity: 0.3;
    font-size: 60px;
    font-weight: bold;
    line-height: 100%;
}
a.thumbnail:hover .photo-index {
    display: block
}


footer {
    clear: both;
    margin-top: 3em;
    font-size: 90%;
    color: #999;
    text-align: right;
}

footer a {
    color: #777;
}

div#custom-header {
    color: #b3b3b3;
    width: 70%;
    margin: 3em auto 0 auto;
    text-align: justify;
}
