<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="http://gitorious.org/webstag" />

        <link rel="stylesheet" href="{{resources_url}}/vendor/bootstrap/bootstrap.min.css" />
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{{resources_url}}/vendor/bootstrap/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="{{resources_url}}/vendor/colorbox/colorbox.css" />
        <link rel="stylesheet" href="{{resources_url}}/css/main.css" />

        <script src="{{resources_url}}/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">

            <h1>{{ title }}</h1>
            <h2>{{ date }}</h2>

{% if custom_header %}
            <div id="custom-header">
                {{ custom_header }}
            </div>
{% endif %}

            <ul class="thumbnails">
{% for f in files %}
                    <li class="{{ f.type }}">
                        <a href="{{ f.large_url }}"
                           rel="gallery" class="thumbnail"
                           {% if f.orig_url %}data-orig="{{ f.orig_url }}"{% endif %}
                           data-width="{{ f.width }}px" data-height="{{ f.height }}px"
                           data-full="original/{{ f.filename|escape }}"
                           {% if f.title %}
                           title="{{ f.title|escape }}"
                           {% endif %}
                           style="margin-top:{{ f.thumb_margin }}px"
                           ><div class="photo-index">{{ loop.index }}</div><img alt=""
                           src="{{ f.thumb_url }}" /></a>
                    </li>
{% endfor %}
            </ul>


            <footer>
                <p>&copy; 2013 Aur&eacute;lien Bompard,
                <a href="http://creativecommons.org/licenses/by-sa/3.0/fr/">CC-BY-SA</a>.</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{resources_url}}/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="{{resources_url}}/vendor/bootstrap/bootstrap.min.js"></script>
        <script src="{{resources_url}}/vendor/colorbox/jquery.colorbox-min.js"></script>
        <script src="{{resources_url}}/js/main.js"></script>

        {{ custom_footer }}

    </body>
</html>
