<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="http://gitorious.org/webstag" />

        <link rel="stylesheet" href="{{resources_url}}/vendor/video-js/video-js.min.css" />
        <script src="{{resources_url}}/vendor/video-js/video.min.js"></script>
        <script>
            _V_.options.flash.swf = "{{resources_url}}/vendor/video-js/video-js.swf"
        </script>
        <style>
            body { margin: 0; padding: 0; }
            video { display: block; }
        </style>
    </head>
    <body>

        <video controls autoplay preload="auto"
               class="video-js vjs-default-skin"
               width="{{ video.width }}" height="{{ video.height }}"
               poster="{{ video.thumb_url}}"
               data-setup="{}">
          {% for source, mtype in video.sources %}
          <source src="{{ source }}" type='{{ mtype }}' />
          {% endfor %}
        </video>

    </body>
</html>
